<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/SignUp/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/SignUp/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="/static/SignUp/images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" onsubmit="return false">
                        <h2 class="form-title">Create new account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="nombre" id="name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="apellido" id="lastname" placeholder="Lastname"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="usuario" id="username" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="contrasenia" id="password" placeholder="Pasword"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" onclick="getSignUp();" value="Sign Up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Do you have an account <a href="/getSignIn" class="loginhere-link">Sign In here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/static/SignUp/vendor/jquery/jquery.min.js"></script>
    <script src="/static/SignUp/js/main.js"></script>

    <script src="/static/SignUp/js/getSignUp.js"></script>


    












</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>